.login{text-align:center;background-size: contain;height:100%;background-image: url("../img/bg.png");}

.head{background-color:rgba(255,255,255,0.5)!important;}

.page404{height:100%;background: url('../img/404.jpg');background-size:100% 100%; }

.img{width: 10em;margin:5em 0;}

.ipt{margin-bottom:1em;background-color:rgba(255,255,255,0.5)!important;}

.link{padding:1em 1em 0 0;text-align: right;color:rgba(89, 1, 253, 1);}

.btn{margin-top:1.5em;background:linear-gradient(to right, #4bb0ff, #6149f6);color:#fff!important;}

.homeBtn{    position: absolute!important;
  bottom: 18%;
  height: 30%;
  opacity: 0;
  margin-left: -40%;
  left: 50%;
  width: 80%;}